<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://fr.utbm.crunch/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://fr.utbm.crunch.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Brand.browse" caption="msg://fr.utbm.crunch.screen.brand/brandBrowse.menu"/>
        <item screen="Equipment.browse" caption="msg://fr.utbm.crunch.screen.equipment/equipmentBrowse.menu"/>
        <item screen="Group_.browse" caption="msg://fr.utbm.crunch.screen.group/groupBrowse.menu"/>
        <item screen="Model.browse" caption="msg://fr.utbm.crunch.screen.model/modelBrowse.menu"/>
        <item screen="Tags.browse" caption="msg://fr.utbm.crunch.screen.tags/tagsBrowse.menu"/>
    </menu>

</menu-config>